::selection {
    background:#414868;
    color: inherit;
}
.active_tab{
    border-bottom: 1px solid #2ac3de;
}
.tab_padding_y{
    padding-top: 1px;
    padding-bottom: 1px;
}
.tab_padding_t_only{
    padding-top: 1px;
    padding-bottom: 0px;
}
.close{
    display: none;
}
.active_tab .close{
    display: block;
    position: absolute;
    right: 0.5rem;
}